body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: wheat;
    width: 100%;
    height: 100%; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;  
}

#BFU { grid-column: 5 /  span 1; grid-row: 1 / span 1; }
#BFD { grid-column: 6/  span 1; grid-row: 1 / span 1; }
#BHU {grid-column: 5 /  span 1; grid-row: 1 / span 1; }
#BHD { grid-column: 6 /  span 1; grid-row: 1 / span 1; }
#BCU { grid-column: 5 /  span 1; grid-row: 1 / span 1; }
#BCD { grid-column: 6/  span 1; grid-row: 1 / span 1; }
#BLU {grid-column: 5 /  span 1; grid-row: 1 / span 1; }
#BLD { grid-column: 6/  span 1; grid-row: 1/ span 1; }
#BBU {grid-column: 5 /  span 1; grid-row: 1 / span 1;   }
#BBD {grid-column: 6 /  span 1; grid-row: 1 / span 1;   }

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(12px, 12fr)); 
    grid-template-rows: repeat(12, minmax(12px, 12fr)); 
    gap: 0px;
    width: 150vh; 
    height: 100vh;
    background-color: white;
    border: 2px solid black; 
    padding: 0px; 
    box-sizing: border-box; 
}


#Population { grid-row: 1/2; grid-column: 5/span 1; align-self: center; }
#P { grid-row: 1/2; grid-column: 7/ span 1; text-align: left ; align-self: center;     transform: translateX(-6vh);}
#Week { grid-row: 1/2; grid-column: 9/span 1; align-self: center;  transform: translateX(4.5vh);}
#W { grid-row: 1/2; grid-column: 10/ span 1; text-align: left ; align-self: center; transform: translateX(4.5vh);}
#Season { grid-row: 1/2; grid-column: 11/span 1; align-self: center;text-align: left  }
#Year { grid-row: 1/2; grid-column: 12/span 1; align-self: center; }
#NextW { height: 100%; grid-row: 2/3; grid-column: 11/span 2; align-self: center; }

#Avaliable { grid-row: 3/4; grid-column: 2/span 1; transform: translateX(-6vh);}
#A { grid-row: 3/4; grid-column: 3/ span 1; text-align: center ; transform: translateX(-6vh);}

#update {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
}
#reset {
    grid-row: 2 / span 1;
    grid-column: 1 / 2;
}
#reset2{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
#buildingQueueTitle {
    grid-row: 8 / span 1;
    grid-column: 2 / span 2;
    height: 100%;
    transform: translateX(-6.25vh) translateY(8vh);
    align-self: end;
    text-align: start;
    font-size: 2vh;
}


#top {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
    background-color: lightgray;
    border: 2px solid black; 
    box-sizing: border-box; 
}

h5 { font-size: 3vh;}
h1 { font-size: 5vh;}
h3 {font-size: 2vh}
.nested-grid {
    grid-column: 2 / span 3; 
    grid-row: 4 / span 4; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    gap: 1px;
    border: 2px solid black; 
    box-sizing: border-box; 
    transform: translateX(-6.25vh);

}

.nested-grid2 {
    grid-column: 2 / span 3; 
    grid-row:11 / span 4; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    gap: 1px;
    border: 2px solid black; 
    box-sizing: border-box; 
}

.Tag {
    text-align: left;
    margin: 0;
    grid-column:  1/4 ;
}

.occNum {
    grid-column: 4 / 5;
    text-align: right; 
    margin: 0; 
    position: relative; 
    right: 2vh;
}

.B {
    width: 100%; 
    height: 100%; 
}

.Resource {
    grid-column: 1 / 2;
    text-align: left;
    margin: 0;
}
.ResourceC {
    grid-column: 2 / 3;
    text-align: right;
    margin: 0;
}

#Seeds {grid-row: 1; }
#Wheate {grid-row: 2; }
#Fur {grid-row: 3; }
#RawMeat {grid-row: 4; }
#RS {grid-row: 1; }
#RW {grid-row: 2; }
#RF {grid-row: 3; }
#RM {grid-row: 4; }


.tabB {
    border-radius: 1vh;
    grid-column: 12 / 13;
    display: grid;
    font-size: 2vh;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    place-items: center; 
  }


.active {
    background-color: rgb(186, 186, 186);
}
#InventoryT {grid-row: 5/span 1; }
#CountriesT {grid-row: 8 / span 1;}
#FoodT {grid-row: 6/ span 1; }
#BuildingsT {grid-row: 7/span 1;}
#FactoryT { grid-row: 9/ span 1;}
#MainT {grid-row: 4/5;}
.tabcontent {
    grid-column: 7 / span 5; 
    grid-row: 3 / span 9; 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12,  1fr); 
    gap: 1px;
    border: 2px solid black; 
    box-sizing: border-box; 

}
.Title { grid-row: 1/2; grid-column: 3/ span 4;}
#tester0 { grid-row: 5/6;}
#Plants {grid-row: 1 / span 1 ; grid-column: 1 / 6; }
#Planted {grid-column: 6/ span 1; text-align: right; margin: 0;}
#TEST1 {grid-column: 3/4}
#TEST2 {grid-column: 3/4}
#BuildingsTitle{grid-column: 1/11}
#MainTitle{grid-column: 3/4}
#RationGrid{ grid-row : 3/ span 1; 
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr))
}
#Ration {grid-column: 1 /span 1;}
#tableContainer{ grid-row: 2 / 12; grid-column :  1 / 12;}
#FoodParagraph { justify-self: left ; grid-row:  2 / 3 ; grid-column: 1 / 9; font-size: 2vh}
#foodRationRate {grid-row: 1 /2; grid-column:  3/ 6;}
#sliderValue { grid-row: 1 / span 1;  grid-column: 6/ span 1; text-align: right; margin: 0;}
#Health {grid-row: 1 / span 1 ; grid-column: 1 / 6;}
#Strength {grid-row :5 /span 1; 
    grid-column: 2/8; 
    text-align: left; 
    margin: 0;    
    display: grid;
    grid-template-columns: repeat(6, 1fr);}
#StrengthA {grid-column: 1 / 5; text-align: left; margin: 0;}
#StrengthB {grid-column: 5 / 7;text-align: right; margin: 0;}
#HealthGrid2 {grid-row :4 /span 1;
    display: grid;
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr))
}
#PlantedGrid {
    grid-row :6 /span 1;
    display: grid;
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr))
}

#HealthNTab {  grid-column: 6/ span 1; text-align: right; margin: 0; }
#HealthTopN {grid-column: 2/3; align-self: center; margin: 0%;    transform: translateX(-4vh);} 
#HealthTop {align-self: center;margin: 0%;}
#topFoodBar {grid-row: 1 / 1; grid-column: 7 / span 2;   display: grid; grid-template-columns: repeat(2, minmax(0,1fr)); transform: translateX(4vh);}
#IncreaseAdjustmentGrid { 
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1 / span 1;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    grid-template-columns: repeat(9, minmax(0,1fr));
    grid-template-rows: repeat(1, minmax(0,1fr));

}

#One { grid-column:  1 / span 1 ; }
#Ten { grid-column:  2 / span 1 ; }
#Hundred { grid-column:  3 / span 1 ; }
#Max { grid-column:  4 / span 1 ; }
#SetCustom { grid-column:  7 / span 1 ; }
#ShowCustom {grid-column: 8/ span 1;}
#Clear {grid-column: 9/ span 1;}
.Adjust { font-size: 1vh;}



.BuildingTitle {
    text-align: left;
    transform: translateX(1vh); 
    align-self: center;
    position: relative;
    display: inline-block;
    grid-column: 1/4;
    grid-row : 1/2;
}

.BuildingButton, .BuildingButtonWorkers{grid-row : 1/2 ;  height: 2.6vh; width: 80%; justify-self: center;}
.BuildingButtonUp { grid-column: 4/span 1;  transform: translateY(0.4vh); }
.BuildingButtonDown { grid-column: 4/span 1;  align-self: end;  transform: translateY(-0.4vh); }
.BuildingButtonWorkersUp { grid-column: 6/span 1;  transform: translateY(0.4vh); }
.BuildingButtonWorkersDown { grid-column: 6/span 1;  align-self: end;  transform: translateY(-0.4vh); }
.BuildingNumberCurrent { grid-column: 5/span 1; grid-row : 1/2; text-align: center; margin: 0.5vh;     align-self: center; transform: translateX(-1vh); } 
.BuildingNumberAlreadyBuilt { grid-column: 3/span 1; grid-row : 1/2;text-align: center; margin: 0.5vh; align-self: center; }
.BuildingpeopleWorking { grid-column: 7/span 1; grid-row : 1/2;text-align: center; margin: 0.5vh; align-self: center; transform: translateX(1vh); }
.slash {grid-column: 7/span 1; grid-row : 1/2;text-align: center; margin: 0.5vh; align-self: center; transform: translateX(4vh); }
.BuildingpeopleCap { grid-column: 8/span 1; grid-row : 1/2;text-align: center; margin: 0.5vh; align-self: center; transform: translateX(-1vh);}

.jobGrid {
    display: grid;
    grid-column: 1 / 7;
    grid-template-columns: repeat(6, minmax(0,1fr));
}
#FarmerJobGrid { grid-row : 2 / span 1;}
#HuntersJobGrid {grid-row : 3 / span 1;}
#CooksJobGrid {grid-row : 4 / span 1;}
#ButchersJobGrid {grid-row : 5 / span 1;}
#LoggersJobGrid {grid-row : 6 / span 1;}
#BuilderJobGrid { grid-row : 7 / span 1;}
.BuildingGrid {
    display: grid;
    height: 6vh;
    grid-column: 1 / 9;
    grid-template-columns: repeat(8, minmax(0,1fr));
    /* border: 2px solid black;  */
}
.BuildingGrid > * {
    margin: 0;
    box-sizing: border-box;
    
}
#TownHallBuildGrid { grid-row: 6/ span 1; }

#TownHallcurrently { grid-column:  3/span 1; grid-row: 1/ span 1; align-self: center;}
.grid-container {
    position: relative; /* Ensure the container is the positioning context */
}

.jobToolTip {
    position: relative;
    visibility: hidden;
    grid-row : 4  / 11;
    grid-column:  5 / 7;
    margin-top: 10px; 
    
    width: 115%;
    height: 90%; 
    align-self: center;
    justify-self: center;
    background-color: rgb(245, 245, 245);
    border-radius: 6px;
    border: 0.5vh solid rgb(0, 0, 0);
    display: grid;
    grid-template-rows: repeat(12,  1fr); 
    grid-template-columns: repeat(1, 1fr);
    transform: translateX(-3.125vh);

}
.ToolTipLine {
    background-color: rgb(0, 0, 0);
    height: 2px; 
    width: 100%; 
    margin: 0px 0;
  }

.ToolTipTitle {
    grid-row: 1 / 2; 
    margin: 0;
    z-index: 0; 
    position: relative; 
    transform: translateY(1vh);
    
}
#buildingQueue {
    grid-column: 2 / span 3; 
    grid-row: 9 / span 3; 
    display: grid;
    grid-template-rows: repeat(4,  1fr); 
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    border: 2px solid black; 
    box-sizing: border-box; 
    font-size: 2vh;
    transform: translateX(-6.25vh);

}

.countryTitleRow {
    display: grid;
    grid-template-rows: repeat(4,  6vh); 
    grid-template-columns: repeat(12, 1fr);


}
.factoryGrid {
    display: grid;
    grid-template-rows: repeat(8,  2.6vh); 
    grid-template-columns: repeat(14, 1fr);


}
.ToolTipText {   
    max-width: 20vh; /* width*/
    transform: translateY(1vh);
    justify-self: center;
    font-size: 2vh;
    grid-column: 1/2;
    grid-row : 12/span 1;
    overflow-wrap: break-word; 
    white-space: normal; 
    font-weight: normal;
    position: relative; 
    margin: 0; }

.flex-container {
    grid-row: 3/12;
    height: 120%;
    grid-column: 1/2;
    display: flex;
    position: relative; 
    transform: translateY(-5.3vh);
    flex-direction: column; 
    padding: 1vh; 
    /* border: 1px solid #000000;  */
}

#building-flex-container {
    grid-row: 3/11;
    height: 120%;
    grid-column: 1/9;
    display: flex;
    position: relative; 
    transform: translateY(3.125vh);
    flex-direction: column; 
    padding: 0vh; 
}
#countries-flex-container {
    grid-row: 3/11;
    height: 120%;
    grid-column: 1/9;
    display: flex;
    position: relative; 
    flex-direction: column; 
    padding: 0vh; 
}
.flexitem {
    font-size: 2vh;
}
.country-flex-container {
    display: flex;
    position: relative; 
    flex-direction: column; 
    padding: 0vh; 
    background-color: rgb(245, 245, 245);
}
#factoryFlex { background-color: white;}
.levelButton{ grid-column : 4/span 2;  position: relative; margin: 0;   justify-self: center;  align-self: center; width: 90%; height: 5.2vh;}
.levelName {  grid-column : 1/4;  position: relative; margin: 0; }
.levelLevel {  grid-column : 3/span 1;  position: relative; margin: 0; grid-row: 1/2; align-self: center;}
#HousingValue { grid-row: 2/span 1 ; grid-column:  1/9;    position: relative; margin: 0;}
.BuildingTitles { grid-row: 2/span 1 ; grid-column:  1/9;   align-self: end; position: relative; margin: 0; transform: translateY(3.125vh);}
#BuildingTitlesName { grid-column: 1 / span 2;}
#BuildingTitlesNumber { grid-column: 3 / span 1;}
#BuildingTitlesQueue { grid-column: 4 / span 2;}
#BuildingTitlesPeopleWorking { grid-column: 6 / span 3;}


.countryTitle {grid-column: 1 / 10; grid-row : 1/2; padding: 0vh; margin: 0;  
      align-self: center;
    justify-self: left;
    margin: 1vh;
}
.TopLine { grid-row : 1 / span 1;
grid-column: 1/ 13;
background-color: lightgray;

}
.countryExplanation {
    grid-row : 2/ span 2;
    grid-column: 1/ 5;
    margin: 1vh;
    align-self: top;
    justify-self: left;
    
}
.requestSupply {width: 90%; margin : 0.2vh;     grid-row : 3/4;

}
#peopleSupply {
    grid-column: 1 /2;

}
.TradeBox {
    grid-row : 2/ span 3;
    grid-column: 1/ 15;
    display: flex;
    position: relative; 
    flex-direction: column;
    transform: translateY(-1.8vh);
}

.FactoryBox {
    grid-row : 2/ span 3;
    grid-column: 1/ 9;
    display: flex;
    position: relative; 
    flex-direction: column;
    border: 2px solid brown;
    transform: translateY(-1.8vh);
}
.TabFlex {
    grid-row : 2/ span 3;
    grid-column: 1/ 9;
    display: flex;
    position: relative; 
    flex-direction: column;
    /* border: 2px solid blue;  */
    transform: translateY(-1.8vh);
}
.InnerTradeGrid {  
    display: grid;
    height: 3.3vh;
    margin: 0%;
    grid-template-columns: repeat(15, minmax(12px, 12fr)); 

}
.giveTrade {
    grid-column: 1/6;
    align-self: center;

}
.arrowTrade {
    grid-column: 6/7;
    align-self: center;

}
.getTrade {
    grid-column: 7/12;
align-self: center;
}
.TradeButton {
    grid-column: 12/15;
    grid-row : 1/2;
    align-self: center;
    height: 47%;
    width: 100%;
    margin: 0%;
}
#toolSupply { grid-column: 2/span 1;}
#resourceSupply { grid-column: 3/span 1;}
#EnglandExplanation {     text-align: center;}